#title2{
    background-color: yellow;
}

.c1{
    background-color: rgba(0, 0, 255, 0.5);
    height: 100px;
    width: 800px;
}

.c2, .c3, .c4{
    margin-left: 30px;
    text-align: center;
    height: 200px;
    width: 200px;
}

.c2{
    background-color: white;
}

.c3{
    background-color: red;
}

.c4{
    background-color: black;
}

.c2 p, .c3 p, .c4 p{
    text-align: right;
    background-color: green;
}

#id1{
    height: 100px;
    width: 100px;
    background-color: blue;
    text-align: left;
    margin: 50px;
}

#id2{
    height: 150px;
    width: 200px;
    background-color: green;
    text-align: right;
    margin: 100px;
}

#id3{
    height: 200px;
    width: 250px;
    background-color: red;
    margin: 200px;
}

p{
    background-color: white;
}

.box1 {
    height: 500px;
    width: 500px;
    padding: 50px;
    background-color: rgba(255, 99.71, 0, 0.2);
}

.box2 {
    height: 400px;
    width: 400px;
    padding: 50px;
    background-color: rgba(255, 99.71, 0, 0.4);
}

.box3 {
    height: 300px;
    width: 300px;
    padding: 50px;
    background-color: rgba(255, 99.71, 0, 0.6);
}

.box4 {
    height: 200px;
    width: 200px;
    padding: 50px;
    background-color: rgba(255, 99.71, 0, 0.8);
}

.cl1{
    background-color: blue;
}

.cl2{
    background-color: green;
}

.cl3{
    background-color: yellow;
}

.cl4{
    background-color: #ee82ee;
}