
.classes{
    background-color: yellow;
}

.c1{
    background-color: blue;
    opacity: 50%;
    height: 100px;
    width: 800px;
}

.c2{
    background-color: white;
    margin-left: 30px;
    text-align: center;
    padding: 10px;
}
.c21{
    background-color: green;
}
.c3{
    background-color: red;
    margin-left: 30px;
    text-align: center;
    padding: 10px;
}
.c31{
    background-color: green;
}
.c4{
    background-color: black;
    margin-left: 30px;
    text-align: center;
    padding: 10px;
}
.c41{
    background-color: green;
}

#id1{
    height: 100px;
    width: 100px;
    background-color: blue;
    padding:  50px;
}
#id11{
    background-color: white;
    text-align: left;
}
#id2{
    height: 150px;
    width: 200px;
    background-color: green;
    padding: 100px;
    text-align: left;
}
#id21{
    background-color: white;
    text-align: right;
}
#id3{
    background-color: red;
    height: 200px;
    width: 250;
    padding: 200px ;
margin-bottom:200px ;
}

.box1{
    background-color: pink;
    height: 800px;
    width: 800px;
    border: black solid 3px;
}

.box{
    background-color: green;
    height: 300px;
}

.carro{
    height: 300px;
    width: 300px;
    border-radius: 8px;
    background-color: blue;
}

.b1{
    background-color: rgba(255, 99, 71, 0.2);
    padding: 20px;
}
