
.h1{
    text-align: left;
color:blue;
margin-top: 10px;
border: 10px solid red;
}

.p{
    font-size: 30px;
    background-color: aliceblue;
}

.c1{
background-color: green;
opacity: 50%;
height: 100px;
width: 800px;

}

.c2{
    height: 100px; 
    background-color:orange ;
}

