.c1{
    background-color: blue;
    height: 100px;
    padding: 800px;

}
.c1{
    background-color: blue;
    height: 100px;
    padding: 800px;

}
.c1{
    background-color: blue;
    height: 100px;
    padding: 800px;
}